<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

	<script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Application name", "Index", "Home", new { area = "SimpleSecurity" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
				</ul>
			</div>
		</div>
	</div>

    <div class="container">
        @Html.ActionLink(linkText: "Action 1", actionName: "Action1", controllerName: "Home", routeValues: new { area = "SimpleSecurity" }, htmlAttributes: new { @class = "navbar-brand" })
        |
        @Html.ActionLink(linkText: "Action 2", actionName: "Action2", controllerName: "Home", routeValues: new { area = "SimpleSecurity" }, htmlAttributes: new { @class = "navbar-brand" })
        |
        @Html.ActionLink(linkText: "Action 3", actionName: "Action3", controllerName: "Home", routeValues: new { area = "SimpleSecurity" }, htmlAttributes: new { @class = "navbar-brand" })
        |

        @{
            if (Request.IsAuthenticated)
            {
                //~[/Areas/SimpleSecurity=Area Name for Root Area Should be Empty]/Account/Logout
                @Html.ActionLink(linkText: "Logout", actionName: "Logout", controllerName: "Account", routeValues: new { area = "SimpleSecurity" }, htmlAttributes: new { @class = "navbar-brand" })


                <b>| Welcome @(HttpContext.Current.User.Identity.Name)</b>
            }
            else
            {
                @Html.ActionLink(linkText: "Login", actionName: "Login", controllerName: "Account", routeValues: new { area = "SimpleSecurity" }, htmlAttributes: new { @class = "navbar-brand" })
                
            }
        }
    </div>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
