<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <h1>
            Layout: 
        </h1>

        <h3>
            In the Layout (02):
            <br />
            SomeVariable1: @(ViewBag.SomeVariable1)
            <br />
            SomeVariable2: @(ViewBag.SomeVariable2)
            <br />
            SomeVariable3: @(ViewBag.SomeVariable3)
        </h3>

        @*
        // <summary>
        // Step (6)
        // </summary>
        *@

        @RenderBody()
    </div>
</body>
</html>
