@model Models.Validation.Learn11
@{
    string titleString = Resources.PageTitle.Learn11;
    ViewBag.Title = titleString;
    Layout = MVC.Shared.Views.Layouts._LayoutValidation;
    //Layout = "~/Views/Shared/Layouts/_LayoutValidation.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            @(titleString)
        </h4>

        <hr />

        @Html.ValidationSummary(true)

        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.RlxButton(caption: Resources.Buttons.Create, buttonType: Rlx.Enums.ButtonType.submit, buttonStyle: Rlx.Enums.ButtonStyle.Primary, buttonSize: Rlx.Enums.ButtonSize.Large)
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink(linkText: "Back to List", actionName: "Index")
